<div class="login-form">
  <form>
    <h1>Login</h1>
    <div class="content">
      <div class="input-field">
        <input type="email" placeholder="Email" autocomplete="nope" [(ngModel)]="email"  name="email">
      </div>
      <div class="input-field">
        <input type="password" placeholder="Password" autocomplete="new-password" [(ngModel)]="password" name="password">
      </div>
    </div>
    <div class="action">
      <button [routerLink]="['/register']" >Register</button>
      <button (click)="loginUsingData()">Sign in</button>
    </div>
  </form>
</div>
